@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);
* {
  font-family: 'HammersmithOne', 'Hammersmith One';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
