#play-container {
  position: fixed;
  right: 1em;
  bottom: 1em;
  font-size: 2em;
  z-index: 998;
}

#play-container input {
  width: 14em;
  font-size: 1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
